{% load humanize %}
{% load catalog %}
{% load eve_auth %}

{% comment %} <h4>Install</h4><p><code>pip install {{ object.pypi_name }}</code></p> {% endcomment %}
<div class="row">
    <div class="col-6">
        <h4>Version</h4>
        <p>{{ object.version|default:"?" }}</p>
    </div>

    <div class="col-6">
        <h4>License</h4>
        <p title="{{ object.license }}">{{ object.license|truncatechars:16|default:"?" }}</p>
    </div>
</div>
{% if object.homepage_url %}
    <h4>Homepage</h4>
    <p>
        <i class="fas fa-link"></i>&nbsp;
        <a href="{{ object.homepage_url }}" target="_blank">
            {{ object.homepage_url }}
        </a>
    </p>
{% endif %}
{% if object.pypi_name %}
    <h4>PyPI</h4>
    <p>
        <i class="fas fa-link"></i>&nbsp;
        <a href="{{ object.pypi_url }}" target="_blank">
            {{ object.pypi_url }}
        </a>
    </p>
{% endif %}

<div class="row">
    <div class="col-6">
        <h4>Last updated</h4><p>{{ object.last_published|naturaltime|default:"?" }}</p>
    </div>
    <div class="col-6">
        <h4>First published</h4><p>{{ object.first_published|naturaltime|default:"?" }}</p>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h4>Category</h4><p>{{ object.category }}</p>
    </div>
    <div class="col-6">
        <h4>Rating</h4>
            {% if object.rating_avg %}
                <p>
                    {% rating_stars object.rating_avg %}
                    &nbsp;
                    {{ object.rating_avg|floatformat:1 }}
                </p>
            {% else %}
            -
            {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h4>Authors</h4>
        <p>
            {% for author in object.authors.all|dictsort:"name" %}
                {{ author.name }}<br>
            {% empty %}
                -
            {% endfor %}
        </p>
    </div>
    <div class="col-6">
        <h4>Maintainers</h4>
        <p>
            {% for maintainer in object.maintainers.all|dictsort:"username" %}
                {% user_icon maintainer %} {{ maintainer.eve_character }}<br>
            {% empty %}
                -
            {% endfor %}
        </p>
    </div>
</div>

{% if user.is_authenticated %}
    <div class="d-grid gap-2">
        {% if user not in object.maintainers.all %}
            {% if user_has_review %}
                <p class="text-muted">Thank you for your feedback!</p>
            {% else %}
                <a id="btnAddReview" class="btn btn-outline-primary" href="{% url 'review-create' object.pypi_name %}" role="button">Add review</a>
            {% endif %}
        {% endif %}
        {% if user in object.maintainers.all %}
            <a id="btnEditApp" class="btn btn-outline-warning" href="{% url 'app-update' object.pypi_name %}" role="button">Edit</a>
            <a id="btnDeleteApp" class="btn btn-outline-danger" href="{% url 'app-delete' object.pypi_name %}" role="button">Delete</a>
        {% endif %}
        {% if not object.is_verified and perms.catalog.can_confirm_ownership %}
            <a id="btnConfirmApp" class="btn btn-outline-success" href="{% url 'app-confirm' object.pk %}" role="button">Confirm app ownership</a>
        {% endif %}
    </div>
{% else %}
    <p class="text-muted">Please login to see more options.</p>
{% endif %}
