<h3>Python Requirements</h3>
{% if object.has_requirements %}
    <ul>
        {% for req in requirements %}
            {% if req.is_known %}
                <li><a href="{% url 'app-detail' req.name %}">{{ req.full }}</a></li>
            {% else %}
                <li>{{ req.full }}</li>
            {% endif %}
        {% empty %}
            <p class="text-muted">No requirements</p>
        {% endfor %}
    </ul>
{% else %}
    <p class="text-muted">No information about requirements</p>
{% endif %}
<p class="text-muted">Required Python packages to be installed and other Python requirement.</p>
