{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.level_tag }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </ul>
{% endif %}
