{% if score %}
    <span title="{{ score|floatformat:1 }}">
        {% for _ in full_stars_range %}
            <i class="fas fa-star rating-stars text-warning"></i>
        {% endfor %}
        {% if has_half_star %}
            <i class="fas fa-star-half-alt rating-stars text-warning"></i>
        {% endif %}
        {% for _ in empty_stars_range %}
            <i class="far fa-star rating-stars text-warning"></i>
        {% endfor %}
    </span>
{% endif %}
